@page
@model Examen2.Pages.Clients.IndexModel
@{
    ViewData["Title"] = "Index Clients";
}
<h1>Index Clients</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].First_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Last_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Document_Number)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Clients)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.First_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Document_Number)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>

            </tr>
        }
    </tbody>

</table>
