@page
@model Examen2.Pages.Invoices.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h4>Estas seguro que quieres eliminar esto?</h4>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.EmployeeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.EmployeeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.ClientId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.ClientId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.ServiceId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.ServiceId)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Invoice.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
